In [5]:
import pandas as pd
import random
import names
from random import randrange
import numpy as np
#from collections import defaultdict

In [ ]:
#list = ["Kelechi Nwachukwu", "Alexander Lorin", "Arnold Wamulanga", "Corey Chickowski", "Ellis Purwanto", "Erica Prickett", 
         #"Joby Augustine", "Karla Robles", "Marc Avoaka", "Nazih Bouanani", "Prajesh Patel", "Prince Emenalo", "Ra Ish Andrews", 
         #"Rajeshwari Natchiappan", "Rudy Duvnjak", "Ryan Hulett", "Shailesh Godkhindi", "Shreya Udeshi", "Stormm Van Rooi",
          #"Thomas Lawless"]

#dict = {}

#for i in list:
  #  dict[i] =+1

#print(dict ["Kelechi Nwachukwu"])


#item = random.choice(list)
#print(item)

In [2]:
list = {'Name':["Kelechi Nwachukwu", "Alexander Lorin", "Arnold Wamulanga", "Corey Chickowski", "Ellis Purwanto", 
                 "Erica Prickett", "Joby Augustine", "Karla Robles", "Marc Avoaka", "Nazih Bouanani", "Prajesh Patel", 
                 "Prince Emenalo", "Ra Ish Andrews", "Rajeshwari Natchiappan", "Rudy Duvnjak", 
                  "Ryan Hulett", "Shailesh Godkhindi", "Shreya Udeshi", "Stormm Van Rooi", "Thomas Lawless"] }


# Calling DataFrame constructor on list  
name_pick_df = pd.DataFrame(list)  
print(name_pick_df)

                      Name
0        Kelechi Nwachukwu
1          Alexander Lorin
2         Arnold Wamulanga
3         Corey Chickowski
4           Ellis Purwanto
5           Erica Prickett
6           Joby Augustine
7             Karla Robles
8              Marc Avoaka
9           Nazih Bouanani
10           Prajesh Patel
11          Prince Emenalo
12          Ra Ish Andrews
13  Rajeshwari Natchiappan
14            Rudy Duvnjak
15             Ryan Hulett
16      Shailesh Godkhindi
17           Shreya Udeshi
18         Stormm Van Rooi
19          Thomas Lawless

In [15]:
selection = name_pick_df.sample() 
selection

               Name
18  Stormm Van Rooi

In [21]:
name_pick_df['Name'].tolist()

['Kelechi Nwachukwu',
 'Alexander Lorin',
 'Arnold Wamulanga',
 'Corey Chickowski',
 'Ellis Purwanto',
 'Erica Prickett',
 'Joby Augustine',
 'Karla Robles',
 'Marc Avoaka',
 'Nazih Bouanani',
 'Prajesh Patel',
 'Prince Emenalo',
 'Ra Ish Andrews',
 'Rajeshwari Natchiappan',
 'Rudy Duvnjak',
 'Ryan Hulett',
 'Shailesh Godkhindi',
 'Shreya Udeshi',
 'Stormm Van Rooi',
 'Thomas Lawless']

In [ ]:
selection = set(name_pick_df['Name'].tolist())

In [7]:
#selection.iloc[0,0]

'Rajeshwari Natchiappan'

In [9]:
name_dict = {}

In [16]:
if selection.iloc[0,0] in name_dict:
    name_dict[selection.iloc[0,0]] +=1
else:
    name_dict[selection.iloc[0,0]] = 1

#print(name_dict ["Kelechi Nwachukwu"])

In [17]:
name_dict

{'Erica Prickett': 1,
 'Shailesh Godkhindi': 1,
 'Rajeshwari Natchiappan': 1,
 'Stormm Van Rooi': 1}

In [22]:
name_dict.keys()

dict_keys(['Erica Prickett', 'Shailesh Godkhindi', 'Rajeshwari Natchiappan', 'Stormm Van Rooi'])